.about-section{
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom, #bbd2c5, #536976); */
    /* background: linear-gradient(to bottom, #334d50, #cbcaa5); */
    /* background: linear-gradient(to top, #232526, #e699b81c); */
}
.label{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: all .5s .6s ease-out;
    transform: translate(-50%,-50%) rotate(-90deg);
    white-space: nowrap;
    color: rgba(109, 118, 126, 0.103);
    font-size: 9.16667rem;
    font-weight: 600;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Montserrat';
}
.about-container{
    width: 90%;
    height: 70vh;
    margin-right: 10%;
    background: linear-gradient(to right bottom, #212428, #16181c);
    border-radius: 6px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.img-section{
    flex-direction: column;
    height:100%;
    width:35%;
    justify-content: space-between;
    padding:40px;
    border-Radius:15px;
    box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e;
    background: linear-gradient(145deg, #1e2024, #23272b);
}
.containt-section{
    flex-direction: row;
    width: 65%;
    height: 100%;
    padding: 45px;
    line-height: 2.8rem;
    color: white;

}