/* :root{
    --bs-light:5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    --bg-light: linear-gradient(145deg, #e2e8ec, #ffffff); 
} */
.contact-section{
    width: 100%;
    /* height: 100vh;
     */
     justify-content: center;
     align-items: center;
     padding: 100px 0;
     /* padding-bottom: 100px; */
    flex-direction: column;
    box-shadow: var(--bs-light);
    background: var(--bg-light);
    /* box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    background: linear-gradient(145deg, #e2e8ec, #ffffff); */
    /* background-image:linear-gradient(145deg, #e2e8ec46, #ffffff2d)  ,url(../images/contact.jpg); */
}
.contact-details{
    justify-content: center;
    align-items: center;
    /* width: 1335px; */
    margin-top: 50px;
    flex-wrap: wrap;
}

/* form styling starts here */
form input{
    padding: 11px 14px;
    /* background: #2E2E2E; */
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
.form-name-email{
    width: 100%;
    display: flex;
    justify-content: space-between;


}
.form-name-email input{
    width: 45%;
    margin: 35px 0;

}
.spacer-div{
    width: 10%;
}
#subject{
    width: 100%;
}
#textarea{
    /* width: auto; */
    height:fit-content;display: inline-block;
    margin: 35px 0;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 100%;
    height: 15rem;
}
/* .form-name-email>input:nth-child(2){
    width: 40%;
    margin: 35px 0;

} */
/* input:nth-child(1){ */
    /* margin-right: 78px; */
    /* margin-right: 10%; */
    /* width: 40%;
    margin: 35px 0; */
/* } */
/* input:nth-child(2){ */
    /* margin-right: 78px; */
    /* width: 40%;
    margin: 35px 0; */
/* } */
/* input:nth-child(3){
    width: 99%;
    margin: 35px 0;
} */


.contact-form-container{
    width: 48%;
    /* border: 2px solid black; */
  
    /* height: 434px; */

}
.contact-dis{
    /* w="535px" h="434px" */
  padding: 30px;


}

/* form textarea{
    background: #2E2E2E;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 11px 14px;
} */
.contact-btn{
    display: list-item;
}
form button{
    padding: 14px 32px;
    background: #FF014F;
    /* margin-top: 35px; */
    font-size: 14px;
    color: white;
    text-align: left;
}
form button:hover{
    color:#FF014F;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 5px;
    border: 1px solid #FF014F;
    transition: color .2s ease-in ;
    transform: background-color .2s ease-in;
}
.contact-icon-con{
    height: 64px;

}
.contact-icon-con>div{
    height: 50px;
    cursor: pointer;
    width: 50px;
    margin-right: 15px;
    margin-top: 10px;
    align-self: center;
    
    border-radius: 10px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
.contact-icon-con>div:hover{
    /* background: #FF014F; */
    background: linear-gradient(145deg, #e2e8ec, #e2e8ec);
   
}
.contact-icon-con>div img{
    width: 35px;
    height: 35px;
}

@media screen and (min-width:280px) and (max-width:460px) {
    .form-name-email{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    
    
    }
    .form-name-email >input{
        width: 100%;
        margin-bottom:35px ;
        margin-top: 0;
    
    }
    form >input{
        width: 100%;
    }
    .contact-form-container{
        width: 80%;
        /* border: 2px solid black; */
      
        /* height: 434px; */
    
    }
}

@media only screen and (min-width:"461px") and (max-width:560px) {
    .contact-form-container{
        width: 80%;
        
    
    }
  
    /* .contact-form-container{
        width: 335px;
        height: 434px;
    
    } */
    form input{
        padding: 11px 14px;
        /* background: #2E2E2E; */
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    }
    /* input:nth-child(1){
        margin-right: 78px;
    }
    input:nth-child(3){
        width: 99%;
        margin: 35px 0;
    } */
   
    
    form textarea{
        /* background: #2E2E2E; */
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
        padding: 11px 14px;
        
    }
    .contact-dis{
        padding: 10px;
        width: 300px;
        height: auto;
    }
    
}
@media screen and (min-width:561px) and (max-width:919px) {
    .contact-form-container{
        width: 80%;
        /* border: 2px solid black; */
      
        /* height: 434px; */
    
    }
}