
.project-section::before{
    content: "";
    border-bottom: .5px solid #878e9986;
    /* margin-bottom: 100px; */
    height: .5px ;
    width: 100%;
    position: relative;
    bottom: 100px;

}

.project-section{
    width: 100%;
    /* height: 100vh; */
    background: #F0F2F5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    /* background: linear-gradient(145deg, #e2e8ec, #ffffff); */

    /* background-image:linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.39)), url(../images/project.jpg); */
    /* background: linear-gradient(145deg, #CED0D4, #ffffff); */
}

.project-sub-con{
    width: 1355px;
    /* height: 983px; */
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: center;
}
.project-card{
 width: 450px;   
 /* height: 441.23px; */
 padding: 0 25px;
 margin: 50px 0 0;
 color: #878E99;
 /* border: 1px solid black; */
 
}
.project-sub-card{
   width:  401.66px;
   /* height: 441.23px; */
   padding: 30px;
   box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
   border-radius: 20px;
 background:  linear-gradient(145deg, #e2e8ec, #ffffff);
   /* border:1px solid black; */

}
.project-sub-image{
    height: 256.23px;
    width: 100%;
    border-radius: 12px;
    /* background-image: url(../images/prj1.png); */
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
/* .project-sub-image>img{
    background: url(../images/prj1.png) center center cover;
   

} */
#p1{
    background-image: url(../images/prj1.png);
}
#p2{
    background-image: url(../images/prj2.png);
}
#p3{
    background-image: url(../images/prj3.png);
}
#p4{
    background-image: url(../images/prj4.png);
}
#p5{
    background-image: url(../images/prj5.png);
}

.project-sub-des{
margin-top: 20px;
}
.project-sub-des>div{
padding: 5px 0;
}
.project-sub-des>div:nth-child(1){
    color: #F9004D;
}
.project-sub-des>div:nth-child(2){
    font-size: 20px;
    font-weight: 600;
    color: #3D3E41;
}


.tech-stacks{
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.tech-stacks>div{
    padding: 3px 5px;
    font-size: 12px;
    margin: 3px 5px;
    border-radius: 5px;
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
.project-card-btn>button{
    padding:10px  10px;
    font-weight: 500;
    color:#F9004D;
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;

}
.project-card-btn>button:hover{
    color:white;
    background-color: #FF014F;
    transition: background-color .2s ease-in ;
    /* transition: color .2s ease-in ; */
}
