.static-section{
    width: 100vw;
    height: 100vh;
}
.static-cards{
    border-radius: 10px;
   background:  linear-gradient(145deg, #1e2024, #23272b);
   box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
   margin: 30px 5px 50px 5px;
   
}