
*{
    font-family: 'Montserrat', sans-serif;
}
:root {
    --p1: hsla(336,60%,75%,1);
    --p2: hsla(334,60%,75%,1);
    --pf: Poppins;
    --sf: Montserrat;
    --p1-night-eye: hsla(336,60%,46%,1);
    --p2-night-eye: hsla(334,60%,53%,1);
}
.home{
    width: 100%;
    /* height: 100vh; */
    height: auto;
    /* background-color: rgb(28, 28, 33); */
}
/* .hero{
    width: 100vw;
    
    background: linear-gradient(to right, #232526, #414345);
    height: 100vh;
    /* background-color: rgb(28, 28, 33); */
/* } */
/* .hero-image{
    text-align: right;
    height: 100vh;
}  */
