body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --p1: hsla(336,60%,75%,1);
  --p2: hsla(334,60%,75%,1);
  --pf: Poppins;
  --sf: Montserrat;
  --p1-night-eye: hsla(336,60%,46%,1);
  --p2-night-eye: hsla(334,60%,53%,1);
}
html{
  scroll-behavior: smooth;
}

/* body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}
.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
} */
 